body {
    background-image: url("https://w0.peakpx.com/wallpaper/323/23/HD-wallpaper-flores-azuis-blue-cute-pastel-thumbnail.jpg");
    color: #008B8B;
    Font-family: Arial, Helvetica, sans-serif;
    margin: 10% 20%
  }


  .exp-header {
    text-align: center;
    text-transform: uppercase;
    border-top: 3px solid #2F4F4F;
    border-bottom: 3px solid #2F4F4F;
    background-color: rgba(0, 0, 0, 0.05);
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  div {
    background-color: #F0FFFF;
    margin: 10px;
  }

  img {
    width: 25%;
    display: block;
    margin: auto;
    border-radius: 50%
  }

  .header {
    padding-top: 20px;
  }

  .exp-bottom {
    padding-bottom: 20px;
  }

  div.details {
    clear: both;
  }

  span.title {
    float: left;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 5px;
  }

  span.year {
    float: right;
    font-weight: bold;
    padding-bottom: 5px;
  }

  h4 {
    text-decoration: underline;
  }
